<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <div>
        <header>
            <h1>BIENVENUE SUR FREDffff </h1>
        </header>
    </div>
    <div>
        <h2>
            je suis alfred
        </h2>
    </div> 
</body>
</html>